*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    color: #555;
    background-color: #eee;
}

header {
    width: 100%;
    text-align: center;
    padding: 2rem;
}

body {
    width: 90vw;
    background-color: white;
    margin: 0.5rem auto;
    border-radius: 20px;
    max-width: 1200px;
    min-height: calc(100vh - 1rem);
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-content: center;
    gap: 1rem;
}

footer {
    text-align: center;
}

img {
    width: 100%;
    object-fit: cover;
    transition: all 0.5s ease-out;
}

h1 {
    width: 100%;
    border-bottom: 1px solid #c3c3c3;
    font-size: 3rem;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 200px));
    grid-auto-rows: 320px;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

figure {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 5px;
    transition: all 0.2s ease-out;
}

figure:hover {
    box-shadow: 2px 5px 10px goldenrod;
}

figure:hover img {
    /* transform: scale(1.2);
    filter: blur(2px); 
    filter: invert(100%);
    filter: grayscale(80%);
    filter: opacity(10%); */
    filter: saturate(180%);

}

/* Media query */
@media screen and (min-width: 720px) {
    :root {
        font-size: 16px;
    }

    figure:nth-of-type(5) {
        grid-row: span 2;
        grid-column: span 2;
    }
}