*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 1rem 0;
}

footer{
  margin: 0 auto;
}

main{
  max-width: 800px;
  max-height: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 200px));
  grid-template-rows: repeat(3, minmax(auto, 200px));
  grid-auto-flow: column;
  justify-content: center;
  margin: 1;
  padding: 1rem;
  gap: 1rem 1rem;
}

div {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titulo{
  font-size: 32px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: black;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.item-a{
  grid-area: 1/1/3/2;
}

div:nth-of-type(2){
  grid-area: 1/2/2/3;
}

.item-b{
  grid-area: 1/3/2/5;
}

div:nth-of-type(4){
  grid-area: 3/1/4/2;
}

.item-c{
  grid-area: 2/2/4/3;
}

div:nth-of-type(6){
  grid-area: 2/3/3/4;
}

div:nth-of-type(7){
  grid-area: 2/4/3/5;
}

.item-d{
  grid-area: 3/3/4/5;
}