*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ff-primaria: 'Courier New', Courier, monospace;
    --ff-hs: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --color-texto: black;
    font-size: 24px;
    font-family: var(--ff-primaria);
}

main {
    display: flex;
    flex-direction: row;
}

header {
    background-color: #707070;
    color: white;
}

footer {
    padding-bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-weight: bold;
    background-color: #707070;
    color: white;
}

footer:nth-child(2), img {
    float: right;
}

nav {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 15%;
    float: left;
    border-radius: 10px;
    border: 1px solid rgb(105, 105, 105);
    box-shadow: 10px 10px 8px #888888;
    margin: 0.5rem;
    height: 50%;
}

#content {
    padding: 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 85%;
}

#content section {
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 49%;
}

#content article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    float: right;
    width: 49%;
}

nav ul {
    list-style: none inside none;
    text-align: center;
}

nav ul li {
    font-size: 1.5rem;
    padding-top: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left : 16px;
    padding-right: 16px;
}

nav ul li a {
    text-decoration: none;
}

nav ul li:hover{
    color: white;
    background-color: #707070;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-hs);
}

h1:not(:first-of-type), h2:not(:first-of-type) {
    color: var(--color-texto);
}

p, ul {
    padding: 10px;
}

p, li {
    font-size: 0.8rem;
}

#left ul, #right ul {
    list-style: circle inside none;
}

a {
    color: black;
}

li a:hover {
    text-decoration: none;
    background-color: #707070;
    color: white;
}

a:hover {
    text-decoration: none;
    background-color: black;
    color: white;
}

h2 {
    font-size: 1rem;
}

#left p a{
    font-style: italic;
}

section h2, article h2 {
    font-size: 34px;
}

aside {
    margin: 0.5rem;
    padding: 1rem;
    background-color: rgba(220, 220, 220, 0.425);
    border: 2px solid #707070;
    border-radius: 10px;
    height: 25%;
}


aside ul li {
    list-style: none inside none;
    margin-top: 5px;
    margin-bottom: 5px;
}

section p:first-of-type {
    font-weight: bold;
}

