@import url("https://fonts.googleapis.com/css?family=Dosis:400,700");

:root {
  --main-letra-color:#415840;
  --main-letra-dark-color: black;
  --main-fondo-color: #ebe2e5;
  --menu-fondo-color: #f3c5d9;
  --page-fondo-color: #feffff;
  font: 16px/1.5 "Dosis", sans-serif;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  background: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 32px;
}

body>* {
  padding: 20px;
}


/*********** cabecera **********/
.cabecera {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-items: center;
  justify-content: space-between;
}

.logo {
  justify-content: flex-start;
}

.cabecera nav{
  justify-content: center;
  align-self: center;
}

.cabecera nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75vh;
}

.cabecera nav ul li {
  width: 25%;
  height: 100%;
  text-align: center;
}

.cabecera nav ul li:hover {
  text-decoration: underline;
  background-color: var(--menu-fondo-color);
  border-style: solid;
  border-radius: 5%;
}

#activa {
  text-decoration: underline orange;
  font-weight: bold;
}

.cta-contact {
  justify-content: flex-end;
  align-self: center;
}

/********** contenido principal de la página ***********/
main {
  background-color: var(--main-fondo-color);
  color: var(--main-letra-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.principal_fondo {
  background-image: url(/Floristeria-con-Flexbox/img/fondo.jpg) no-repeat;
}

main h2 {
  color: var(--main-letra-dark-color)
}

main section {
  text-align: center;
}

/******* galeria ****/
#main_flores {
  width: 100%;
}

#flores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

figure {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  border-radius: 5%;
}

img:not(footer div p img, footer ul li img){
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

figure:nth-of-type(1):hover img{
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

figure:nth-of-type(2):hover img{
  filter: blur(3px);
}

figure:nth-of-type(3):hover img{
  filter: sepia(50%);
}

figure:nth-of-type(4):hover img{
  filter: grayscale(80%);
}

figure:nth-of-type(5):hover img{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

figure:nth-of-type(6):hover img{
  border-radius:50%; 
  -webkit-border-radius:50%; 
  box-shadow: 0px 0px 15px 15px #ec731e; 
  -webkit-box-shadow: 0px 0px 15px 15px #ec731e; 
  transform: rotate(360deg) scale(0.5); 
  -webkit-transform: rotate(360deg) scale(0.5);
}

figure:nth-of-type(7) {
  overflow: hidden;
}

figure:nth-of-type(7):hover img{
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}


/***** estilo de la tienda *****/


/********* pie ********/
footer {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-self: center;
  justify-content: space-between;
}

.accesibilidad {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-around;
}

footer ul {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-around;
}


/****** Media Queries ************/

