*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
:root{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6; */
    font: 14px/1.6 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    min-height: 100vh;
    background-color: black;
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section {
    min-width: 90vw;
    min-height: 90vh;
    margin: 50px;
    background-color: #284d42;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.contenedor{
    margin: 0 auto;
    max-width: 50%;
    max-height: 50%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
}

.contenedor div{
    width: 15vw;
    height: 40vh;
    background-image: url("img/asart-naipes-dorso-minimalart.png");
}

.contenedor div:nth-of-type(1){
    grid-area: 1/1/3/4;
    animation: bastos 3s infinite;
    animation-play-state: paused;
}

.contenedor div:nth-of-type(2){
    grid-area: 2/2/4/5;
    animation: copas 3s infinite;
    animation-play-state: paused;
}

.contenedor div:nth-of-type(3){
    grid-area: 3/3/5/6;
    animation: espadas 3s infinite;
    animation-play-state: paused;
}

.contenedor div:nth-of-type(4){
    grid-area: 4/4/6/7;
    animation: oros 3s infinite;
    animation-play-state: paused;
}

.contenedor div:hover{
    animation-play-state: running;
}

@keyframes bastos{
    100%{
        background-image: url("img/asart-naipes-bastos-1-minimalart.png");
    }
}

@keyframes copas{
    100%{
        background-image: url("img/asart-naipes-copas-1-minimalart.png");
    }
}

@keyframes espadas{
    100%{
        background-image: url("img/asart-naipes-espadas-1-minimalart.png");
    }
}

@keyframes oros{
    100%{
        background-image: url("img/asart-naipes-oros-1-minimalart.png");
    }
}