
*, *::after, *::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
  
body{
   min-height: 100vh;
   display: grid;
   grid-template-rows: 1fr auto;
   padding: 1rem 0;
}
  
footer{
    margin: 0 auto;
}

main {
    width: 100%;
    max-height: 75%;
}

.contenedor-grid {
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 1rem;
}

img {
    filter: blur(0px);
    transition: all 0.3s ease-out;
    transform: scale(1.1);
    opacity: 100;
}

.sitio {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.titulo-sitio {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s ease-in;
}

.imagen-sitio {
    line-height: 0;
}

.sitio:hover img {
    filter: blur(2px);
    opacity: 95%;
    transform: scale(1.1);
}

.sitio:hover .titulo-sitio{
    background: rgba(90, 0, 10, 0.4);
    opacity: 100%;
}

@media (hover: none) {
    .titulo-sitio {
        opacity: 1;
    }

    img {
        filter: blur(2px);
    }
}