*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.columna1_portada {
    background-color: #c6c6c6;
    background-image: url("/img/artico.jpg");
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-size: cover;
}

section section {
    max-width: 60%;
}

h2 {
    color: #d7192d;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h3 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 500;
    text-transform: uppercase;
}

button {
    padding: 1rem;
    padding-top: 1rem;
    background-color: #d7192de6;
    border-width: 0;
    width: 160px;
}